# DB 연결 (로컬 개발 / render 배포 토글)
DATABASE_URL="postgresql://USER@localhost:5432/panda_sprint09?schema=public"
# DATABASE_URL="postgresql://USER:PASSWORD@HOST.render.com/DBNAME"

# 서버
PORT=4000

# CORS 허용 origin (프론트 주소)
CLIENT_URL="http://localhost:3000"

# JWT
JWT_SECRET="여기에_긴_랜덤_문자열"
JWT_ACCESS_EXPIRES="1h"
JWT_REFRESH_EXPIRES="2w"